<style>
    
    button{
        padding: 2px;
        border-radius:5px;
        color:white;
        background-image:linear-gradient(to right ,rgb(30, 118, 219),oklch(70.4% 0.14 182.503 ));
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
        background-color: rgb(54, 54, 54);
        border-radius: 5px;
    }

    li{
        list-style: none;
        color: white;
    }

</style>

<div>
  <img src="./image/LogoCloud.png" width="50px" height="40px">
  <h1>Resete sua sennha</h1>
  <ul>
    <li>Deve ser uma senha forte</li>
    <li>Coloque caracteres como letra maiúscula, letra minúscula, caracteres especiais (@#$%!) e números</li>
    <li>O Tamanho deve ser no mínimo 8 caracteres</li>
  </ul>
  <button><a href="/auth/resetpassword">Resetar Senha</a></button>
</div>
